#tx2tx-topbar {
	display: none;
}
.tx2tx-step {
	display: none;
}
#tx2tx-step-loading {
	display: block;
}
#tx2tx-step-login {
	margin-top: 50px;
}
#tx2tx-step-login form, #tx2tx-step-login .tx2tx-alert {
  max-width: 330px;
  margin: 0 auto;
}
#tx2tx-step-options form, #tx2tx-step-options div.alert {
  max-width: 330px;
  margin: 0 auto;
}
#tx2tx-step-login form, #tx2tx-step-options form {
  padding: 15px;
}


#tx2tx-work-list thead th {
	text-align: center;
}
#tx2tx-work-list td {
	vertical-align: middle;
}
#tx2tx-work-list tr.tx2tx-difference-head {
	background-color: #f9f9f9;
}
#tx2tx-work-list tr.tx2tx-difference-head td {
	border-top-width: 3px;
}
#tx2tx-work-list td.tx2tx-copy {
	text-align: center;
}
#tx2tx-work-list td.tx2tx-copy a {
	margin: 3px 2px;
}

#tx2tx-working {
	cursor: wait;
	display: none;
	position: fixed;
	left: 0;
	width: 100%;
	top: 0;
	height: 100%;
	z-index: 1000;
	background-color: transparent;
}
#tx2tx-working>div {
	left: 50%;
	top: 50%;
	position:absolute;
}
#tx2tx-working>div>div {
	position: relative;
	left: -50%;
	top: -50%;
}
#tx2tx-working-text {
	max-width: 350px;
	text-align: center;
}
